extends layout

block content
	if error
		h1= title
		
		p
			| error

	else

		h1= data.queue.attractionName

		ul
			each item in data.attendeesInQueue
				li
					| #{item.timeJoined} --- #{item.attendee._id}
			else
				| no attendees in queue
